# set the udev rule , make the rplidar's device_port be fixed by RPLIDAR

# 3-1.4 : USB Hub Hat USB 1 port
# 3-1.1 : USB Hub Hat USB 2 port

KERNEL=="ttyUSB*", KERNELS=="3-1.4", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="RPLIDAR"
KERNEL=="ttyUSB*", KERNELS=="3-1.1", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="RPLIDAR2"

# set the udev rule , make the AHRS's device_port be fixed by AHRS

# 3-2 : Bottom USB 2.0 port

KERNEL=="ttyUSB*", KERNELS=="3-2", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", MODE:="0777", SYMLINK+="AHRS"

# set the udev rule , make the MotorDriver's device_port be fixed by MW

# 1-2 : Top USB 2.0 port

KERNEL=="ttyUSB*", KERNELS=="1-2", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="MW"

# set the udev rule , make the Bluetooth's device_port be fixed by BT

KERNEL=="ttyS*", MODE:="0777", SYMLINK+="BT"

# set the udev rule , make the realsense's device_port

SUBSYSTEMS=="usb", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", MODE:="0777"
KERNEL=="iio*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", MODE:="0777", RUN+="/bin/sh -c 'chmod -R 0777 /sys/%p'"
DRIVER=="hid_sensor*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", RUN+="/bin/sh -c ' chmod -R 0777 /sys/%p && chmod 0777 /dev/%k'"
# For products with motion_module, if (kernels is 4.15 and up) and (device name is "accel_3d") wait, in another process, until (enable flag is set to 1 or 200 mSec passed) and then set it to 0.
# KERNEL=="iio*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", RUN+="/bin/sh -c '(major=`uname -r | cut -d \".\" -f1` && minor=`uname -r | cut -d \".\" -f2` && (([ $$major -eq 4 ] && [ $$minor -ge 15 ]) || [ $$major -ge 5 ])) && (enamefile=/sys/%p/name && [ `cat $$enamefile` = \"accel_3d\" ]) && enfile=/sys/%p/buffer/enable && echo \"COUNTER=0; while [ \$$COUNTER -lt 20 ] && grep -q 0 $$enfile; do sleep 0.01; COUNTER=\$$((COUNTER+1)); done && echo 0 > $$enfile\" | at now'"